<p>{{ username }}</p>
<p>{{ favTeam }}</p>

<form action="/changeFav" method="POST">
    <label for="teams">Favorite Team:</label>

    <select name="teams" id="teams">
        {% for team in teams %}
        <option value="{{ team[1] }}">{{ team[0] }}</option>
        {% endfor %}
    </select>

    <input type="hidden" value="{{username}}" name="username"/>

    <p><input type="submit" value="Edit Favorite Team"/></p>
</form>

<div>

    <form action="/roster" method="POST">
        <label for="years">Select a Year!</label>

        <select name="years" id="years" onchange="roster(value)">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>

        <input type="hidden" value = "{{ favTeam }}" name="favTeam">

        <input type="submit" value="Submit"/>
    </form>

</div>

<script>
    function roster(year) {
        console.log(year);
    }
</script>