<h1>Welcome {{ username }}!</h1>
<form action="/">
    <p><input type="submit" value="Logout"/></p>
</form>

<br></br>

<h2>Current Favorite Team: <i style="color: blue">{{ favTeamName }}</i></h2>

<form action="/changeFav" method="POST">
    <label for="teams">Edit Favorite Team:</label>

    <select name="teams" id="teams">
        {% for team in teams %}
        <option value="{{ team[1] }}">{{ team[0] }}</option>
        {% endfor %}
    </select>

    <input type="hidden" value="{{username}}" name="username"/>
    <input type="hidden" value="{{password}}" name="password"/>

    <p><input type="submit" value="Confirm Edit Favorite Team"/></p>
</form>

<br></br>
<br></br>

<h2><u>Choose year to display standings</u></h2>
<div>

    <form action="/standing" method="POST">
        <label for="years">Select a Year!</label>

        <select name="years" id="years" onchange="roster(value)">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Submit"/>
    </form>

</div>

<br></br>
<br></br>

<h2><u>Choose year to display roster for your favorite team</u></h2>
<div>

    <form action="/roster" method="POST">
        <label for="years">Select a Year!</label>

        <select name="years" id="years" onchange="roster(value)">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>

        <input type="hidden" value = "{{ favTeam }}" name="favTeam">

        <input type="submit" value="Submit"/>
    </form>

</div>

<br/>
<br/>

<h2><u>Look at current list of cheaters :)</u></h2>
<div>
    <form action="/cheaters" method="POST">
        <p><input type="submit" value="Go to Cheaters"/></p>
    </form>
</div>

<br/>
<br/>

<h2><u>Search for a batter by name</u></h2>
<div>
    <form action="/searchBatters" method="POST">
        <label for="search">Search:</label>

        <input type="text" name="search" id="search" placeholder="Enter a player's name">

        <input type="submit" value="Submit"/>
    </form>
</div>

<br/>
<br/>

<h2><u>Search for a pitcher by name</u></h2>
<div>
    <form action="/searchPitchers" method="POST">
        <label for="search">Search:</label>

        <input type="text" name="search" id="search" placeholder="Enter a player's name">

        <input type="submit" value="Submit"/>
    </form>
</div>

<script>
    function roster(year) {
        console.log(year);
    }
</script>

<script>
    function standing(year) {
        console.log(year);
    }
</script>