<h1 style="color: darkmagenta">Search for "{{ search }}"</h1>

<br/>
<br/>

<table style="width: fit-content;">
    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>Name</h1>
        {% for batter in searchList %}
            <p>{{ batter[0] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>G</h1>
        {% for batter in searchList %}
            <p>{{ batter[1] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>AB</h1>
        {% for batter in searchList %}
            <p>{{ batter[2] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>R</h1>
        {% for batter in searchList %}
            <p>{{ batter[3] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>H</h1>
        {% for batter in searchList %}
            <p>{{ batter[4] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>2B</h1>
        {% for batter in searchList %}
            <p>{{ batter[5] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>3B</h1>
        {% for batter in searchList %}
            <p>{{ batter[6] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>HR</h1>
        {% for batter in searchList %}
            <p>{{ batter[7] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>RBI</h1>
        {% for batter in searchList %}
            <p>{{ batter[8] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>SB</h1>
        {% for batter in searchList %}
            <p>{{ batter[9] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>CS</h1>
        {% for batter in searchList %}
            <p>{{ batter[10] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>BB</h1>
        {% for batter in searchList %}
            <p>{{ batter[11] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>SO</h1>
        {% for batter in searchList %}
            <p>{{ batter[12] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>IBB</h1>
        {% for batter in searchList %}
            <p>{{ batter[13] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>HBP</h1>
        {% for batter in searchList %}
            <p>{{ batter[14] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>SH</h1>
        {% for batter in searchList %}
            <p>{{ batter[15] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>SF</h1>
        {% for batter in searchList %}
            <p>{{ batter[16] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>GIDP</h1>
        {% for batter in searchList %}
            <p>{{ batter[17] }}</p>
        {% endfor %}
    </div>

    <div class="column" style="width: fit-content; float: left; margin: 10px">
        <h1>Year</h1>
        {% for batter in searchList %}
            <p>{{ batter[18] }}</p>
        {% endfor %}
    </div>
</table>